.promotions-block {
  background: #ebebeb;
  display: grid;

  justify-items: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.promotions-items {
  width: fit-content;
  display: flex;
  align-items: center;
}

/* problema nas imagens, bordas!!!!!!!! */
.promotions .item {
  padding: 20px;
  text-align: center;
  background: #ebebeb;
  display: inline-block;
  border: 1px solid rgba(56, 106, 152, 0.1);
  border-radius: 10px;
}

.promotions .item .item-title {
  color: var(--candyCookies-color);
  font: 700 1.125rem/1.5 "Playfair Display", serif;
  letter-spacing: 0.05em;
}

.promotions-span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.price-promotion {
  color: #000000;
  font-family: "Playfair Display", serif;
}

.carrinho {
  color: #fff;
  padding: 3px 8px;
  border-radius: 2px;
  width: fit-content;
  height: fit-content;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.promotions .item-2,
.promotions .item-3,
.promotions .item-4,
.promotions .item-5,
.promotions .item-6 {
  display: none;
  visibility: hidden;
}

@media (min-width: 800px) {
  .promotions .item-2,
  .promotions .item-3 {
    display: inline-block;
    visibility: visible;
  }

  .promotions-block {
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #e4e4e4, -5px -5px 20px #f2f2f2;
  }

  .promotions-items {
    background: #ebebeb;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }

  .promotions .item {
    box-shadow: none;
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .promotions-block {
    margin: 40px;
    padding: 20px;
  }

  .promotions .item {
    margin-right: 40px;
  }

  .promotions .item-4,
  .promotions .item-5,
  .promotions .item-6 {
    display: inline-block;
    visibility: visible;
  }
}
